@model BudgetTracker.DTOs.TagDto

@{
    ViewData["Title"] = "Delete";
}

<div class="card border-danger">
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <div class="card-header bg-danger text-white">
        Confirm Delete
    </div>
    <div class="card-body">
        <p class="fw-bold">Are you sure you want to delete this tag?</p>
        <div class="mb-3 row align-items-center">
            <label class="col-sm-3 col-form-label text-end pe-3"><strong> @Html.DisplayNameFor(model => model.Name):</strong></label>
            <div class="col-sm-9 text-danger">
                @Model.Name
            </div>
        </div>
        <div class="mb-3 row align-items-center">
            <label class="col-sm-3 col-form-label text-end pe-3"><strong> @Html.DisplayNameFor(model => model.Context):</strong></label>
            <div class="col-sm-9 text-danger">
                @Model.Context
            </div>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger me-2">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
