@model BudgetTracker.DTOs.ExpenseDto

@{
    ViewData["Title"] = "Expense Details";
}

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">
        Expense Details
    </div>
    <div class="card-body">
        <div class="mb-3 row d-flex align-items-center">
            <label class="col-sm-3 col-form-label"><strong>@Html.DisplayNameFor(model => model.Tag.Name) </strong></label>
            <div class="col-sm-9">
                @Model.Tag?.Name
            </div>
        </div>
        <div class="mb-3 row d-flex align-items-center">
            <label class="col-sm-3 col-form-label"><strong>@Html.DisplayNameFor(model => model.Description) </strong></label>
            <div class="col-sm-9">
                @Model.Description
            </div>
        </div>
        <div class="mb-3 row d-flex align-items-center">
            <label class="col-sm-3 col-form-label"><strong>@Html.DisplayNameFor(model => model.Amount)</strong></label>
            <div class="col-sm-9">
                @Model.Amount.ToString("C")
            </div>
        </div>
        <div class="mb-3 row d-flex align-items-center">
            <label class="col-sm-3 col-form-label"><strong>@Html.DisplayNameFor(model => model.DateIncurred)</strong></label>
            <div class="col-sm-9">
                @Model.DateIncurred.ToString("yyyy-MM-dd")
            </div>
        </div>

        <div class="mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
